<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="Binding1"
                 maxReceivedMessageSize = "2147483647">
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="Artemkv.Darwin.Services.DarwinDataService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/DarwinService" />
          </baseAddresses>
        </host>
        <endpoint
          address=""
          binding="wsHttpBinding"
          bindingConfiguration="Binding1"
          contract="Artemkv.Darwin.Services.IDarwinDataService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="Darwin"
          connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Darwin;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>