<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDarwinDataService" 
                 maxReceivedMessageSize="2147483647">
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/DarwinService/"
          binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IDarwinDataService"
          contract="DarwinServiceReference.IDarwinDataService"
          name="WSHttpBinding_IDarwinDataService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="PageSize" value="40"/>
  </appSettings>
</configuration>