<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
      <compilation debug="true" />
    </system.web>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "d:\__traces.svclog.xml" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="3000"
       />
    </diagnostics>
    <bindings>
      <wsHttpBinding>
        <binding name="Binding1"
                 maxReceivedMessageSize = "2147483647">
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Artemkv.Darwin.Services.DarwinDataService">
                <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Binding1" contract="Artemkv.Darwin.Services.IDarwinDataService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/Artemkv.Darwin.Services/DarwinDataService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <connectionStrings>
      <add name="Darwin"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Darwin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
